<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form  method="POST" novalidate >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">

    </form> -->
    <form action="{% url 'login_user2'  %}" method='POST'>
        {% csrf_token %}
        <label for="mail">Email:</label>
        <input type="text" id="mail" name="email_user">
        {{ form.errors.email }}

        <label for="password">Password:</label>
        <input type="password" id="password" name="password_user">
        {{ form.errors.password }}
        <button type="submit"t>Submi</button>



    </form>
    
</body>
</html>