<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1>hii i am a buyer</h1> <br> <br> 

    <button type="button" class="btn btn-outline-success logout">
        <a href="{% url 'logout_user' %}" style="text-decoration: none">Logout</a>
    </button>

    <button type="button" class="btn btn-outline-success">
        <a href="{% url 'order_see' %}" style="text-decoration: none">Order details</a>
    </button> 
    <div><button type="button" class="btn btn-outline-success">
        <a href="{% url 'profile' %}" style="text-decoration: none">Profile</a>
    </button>

    <div><button type="button" class="btn btn-outline-success">
        <a href="{% url 'commentsee' %}" style="text-decoration: none">see all aur customer reviews</a>
    </button>

    <button type="button" class="btn btn-outline-success logout">
        <a href="{% url 'next_user' %}" style="text-decoration: none">Profile Details</Details></a>
    </button><br> <br>

    <button type="button" class="btn btn-outline-success logout">
        <a href="{% url 'update_pro' %}" style="text-decoration: none">Update Profile </Details></a>
    </button><br> <br>



    <div class="row">
        {% for i in product %}  
        <form action="{% url 'cart_save1' %}" method="POST" >         
           {%  csrf_token %} 
            <div class="card col-sm" style="padding-bottom: 100px;">
                <div class="card-header">{{ i.Product_Name | upper}}</div>
               
                <div class="card-body">{{ i.Product_No }}</div>
                
                <div class="card-body">{{ i.Product_Price }}</div> 
                
                <div class="card-footer">{{ i.Descreption }}</div>
            
                <input type="submit" value="Add To Cart" >

              </div>     
    </div>
    <input type="hidden" id="custId" name="Product_Name" value="{{ i.Product_Name | upper}}">
    <input type="hidden" id="custId" name="Product_Price" value="{ i.Product_Price }}">
    <input type="hidden" id="custId" name="Product_No" value="{{ i.Product_No }}">
    <input type="hidden" id="custId" name="Descreption" value="{{ i.Descreption }}">
    <input type="hidden" id="custId" name="id" value="{{ i.id }}">
   
</form>
<form action="{% url 'commentbuyer1' %}" method="POST">
    {% csrf_token %} 
    <input type="textarea" rows="4" cols="50" name="comment1">
    <input type="hidden" id="custId" name="product_id" value="{{ i.id }}">
    <button type="submit" >Comment </button>

</form>
{% endfor %}



    
</body>
</html>